<h1>User Page</h1>
<main>
  <h2> Welcome {{firstName}} {{lastName}}! </h2>
  <p> User Name: {{userName}} </p>
  <p> Email: {{email}} </p>
  <p> Date of Birth: {{dateOfBirth}} </p>
  <a href="/tasks/create">
    Create a Task
  </a>
  <br />
  <a href="/tasks/tasks">
    View Tasks
  </a>
  <br />
  <a href="/logout">
    Log Out
  </a>
</main>