<h1>User Page</h1>
<main>
  <h2> Welcome {{firstName}} {{lastName}}! </h2>
  <p> User Name: {{userName}} </p>
  <p> Email: {{email}} </p>
  <p> Date of Birth: {{dateOfBirth}} </p>
  <a href="/tasks/create" create>
    Click here to create a task!
  </a>
  <br />
  <a href="/tasks/tasks" tasks>
    Click here to view tasks!
  </a>
  <br />
  <a href="/logout">
    Click here to logout!
  </a>
</main>