<h1 class="register-head">User Page</h1>
<main>
  <h2> Welcome {{firstName}} {{lastName}}! </h2>
  <p> User Name: {{userName}} </p>
  <p> Email: {{email}} </p>
  <p> Date of Birth: {{dateOfBirth}} </p>

  <nav class="container">

    <a href="/tasks/create">
      Create a Task
    </a>
	<a href="/schedule">
      Create a Schedule
    </a>
    <br />
    <a href="/tasks/tasks">
      View tasks
    </a>
    <br />
    <a href="/logout">
      Log Out
    </a>
  </nav>
  
</main>