<main>
  <p id="tasklist" hidden>
    {{taskList}}
  </p>
  <p id="full" hidden>
    {{full}}
  </p>
  <p id="fillStart" hidden>
    {{fillStart}}
  </p>
  <p id="fillEnd" hidden>
    {{fillEnd}}
  </p>
  <p id="startDate" hidden>
    {{startDate}}
  </p>
  <p id="fullHour" hidden>
    {{fullHour}}
  </p>
    <div class="tasks">
      <table>
        <thead >
          <tr>
            <th>Tasks</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.1</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="schedule">
      <table>
        <thead>
          <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tueday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Sunday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.1</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
    ></script>
    <script src="/public/js/createManually.js">
    </script>
</main>