<h1>Task {{id}}</h1>
<main>
  <p>Task ID: {{id}} </p>
  <p>Task name: {{task.taskName}} </p>
  <p>Task description: {{task.description}}</p>
  <p>Task creator ID: {{task.creatorId}}</p>
  <p>Task creator name: {{task.creator}}</p>
  <p>Task public status: {{task.publicPost}}</p>
  <p>Task due date: {{task.dateDue}}</p>
  <p>Task due time: {{task.timeDue}}</p>
  <p>Task max contributors: {{task.maxContributors}}</p>
  <a href="/tasks" tasks>
    Click here to return to tasks!
  </a>
  <br />
  <a href="/users">
    Click here to return to users!
  </a>
  <br />
  <a href="/logout">
    Click here to logout!
  </a>
</main>