<h1>{{task.taskName}}</h1>
<main>
  <p>Task ID: {{id}} </p>
  <p>Task description: {{task.description}}</p>
  <p>Task creator ID: {{task.creatorId}}</p>
  <p>Task creator name: {{task.creator}}</p>
  <p>Task public status: {{task.publicPost}}</p>
  <p>Task due date: {{task.dateDue}}</p>
  <p>Task due time: {{task.timeDue}}</p>
  <p>Task max contributors: {{task.maxContributors}}</p>
  

  {{! FOR THIS SECTION WE WILL NEED TO ADD A FORM TO SUBMIT 
  COMMENTS }}
  {{#if accepted}}
    <div class="comment-div">
    <p>Comments:</p>
    <ul>
      {{#if task.comments.length}}
        {{#each task.comments}}
          <li>{{this}}</li>
        {{/each}}
      {{/if}}
    </ul>
  </div>
    <form id="add-comment" action="/tasks/{{id}}" method="POST">
      <p><label for="commentInput">Add Comment:</label></p>
      <textarea id="commentInput" name="commentInput" rows="4" cols="50"></textarea>
      <br>
      <input type="submit" value="Submit">
    </form>
  {{else}}
    <form id="join-task" action="/tasks/{{id}}" method="POST">
      <input type="hidden" id="joinSubmission" name="joinSubmission" value="fired">
      <input type="submit" value="Join this Task">
    </form>
  {{/if}}


  <a href="/tasks/tasks">
    Click here to return to tasks!
  </a>
  <br />
  <a href="/users">
    Click here to return to users!
  </a>
  <br />
  <a href="/logout">
    Click here to logout!
  </a>
</main>