<h1>{{title}}</h1>
<main>
  <a href="/tasks/create">
    Create a Task
  </a>
  <br />
  <a href="/tasks/all">
    View All Tasks
  </a>
  <br />
  <a href="/tasks/private">
    View All Private Tasks
  </a>
  <br />
  <a href="/tasks/public">
    View All Publicly Accepted Tasks
  </a>
  <br />
  <a href="/tasks/forum">
    View Publicly Available Tasks
  </a>
  <br />
  <a href="/users">
    Return to Users
  </a>
  <br />
  <a href="/logout">
    Log Out
  </a>

  <h1>{{Schedule}}</h1>
    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Task</th>
        </tr>
        </thead>
        <tbody>
        {{#each schedules}}
            <tr>
            <td class="date">{{this.date}}</td>
            <td class="time">{{this.time}}</td>
            <td class="task">{{this.task}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <br />
    <a href="/users">
        Return to Users
    </a>
    <br />
</main>
