<h1>{{title}}</h1>
<main>
  <form id="sort-form" action="/tasks/all" method="GET">
    <label for="sort-option">Sort By:</label>
    <select id="sort-option" name="sort-option">
      <option value="name">Task Name</option>
      <option value="time">Time Due</option>
      <option value="contributors">Max Amount of Contributors</option>
      <option value="priority">Task Priority</option>
    </select>
    <input type="submit" id="submit" value="Submit">
  </form>
  <ul id=list>
    {{#each taskList}}
      <li class='LI'>
        <a class="name" href="/tasks/{{this._id}}">
              {{this.taskName}}
            </a>
        <ul>
          <li class="priority">Completion Priority: {{this.priority}}</li>
          <li class="date">Date Due: {{this.dateDue}}</li>
          <li class="time">Time Due: {{this.timeDue}}</li>
          <li class="contributors">Max Contributors: {{this.maxContributors}}</li>
          <li class="creator">Posted By: {{this.creator}}</li>
        </ul>
      </li>
    {{/each}}
  </ul>
  <nav class="container">
    <a href="/tasks/create">
    Click here to create a task!
    </a>
    <br />
    <a href="/tasks/tasks">
      Click here to view tasks!
    </a>
    <br />
    <a href="/logout">
      Click here to logout!
    </a>
  </nav>

  <script src="/public/js/client-side-task-sorting.js">
  </script>
</main>
